{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true
        },
        "preserveAllComments": true,
        "experimental": {
            "disableBuiltinTransformsForInternalTesting": true
        }
    }
}